@import "tailwindcss";
.scrollbar-modern::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-modern::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
}

.scrollbar-modern::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.35);
}

.scrollbar-modern {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
